body{
    /* background-color:aquamarine; */
    background-image: url(minions.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1{
    text-align: center;
    color: yellow;
}
#txt-area{
    display: block;
    width: 50%;
    height: 100px;
    padding: 10px;
    margin-left: 320px;
    margin-top: px;
}

#btn-translate{
    width: 98px;
    height: 32px;
    border-radius: 30px;
    cursor: pointer;
    margin: 30px;
    margin-left: 600px;
}
#btn-translate:hover{
    background-color: rgb(240, 46, 12);
}

#output{
    display: inline-block;
    border: 2px solid black;
    height: 12vh;
    width: 80%;
    margin-top: 34px;
    margin-left: 100px;
}

#afterclick{
    margin-top: 50px;
    text-align: center;
    font-size: larger;
}

#outputheader{
    font-size: larger;
    text-align: center;
    margin-top: 35px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}